
<span class="text-hide-xs">
  <% if prev.is_some() { %>
    <a class="prev_item" href="/chat/<%= chat.id %>/photos/<%= prev %>/">
      <svg fill="currentColor" viewBox="0 0 24 24"><path d="M8.59 16.59L13.17 12 8.59 7.41 10 6l6 6-6 6-1.41-1.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>
    </a>
  <% } %>
  <% if next.is_some() { %>
    <a class="next_item" href="/chat/<%= chat.id %>/photos/<%= next %>/">
      <svg fill="currentColor" viewBox="0 0 24 24"><path d="M15.41 16.59L10.83 12l4.58-4.59L14 6l-6 6 6 6 1.41-1.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg>
    </a>
  <% } %>
</span>


<div class="mb-3 data_display is_stat_list" data-title="Фотография чата <%= chat.get_name(request_user.id) %>">
  <div class="row">
    <div class="col-lg-8 col-md-7 col-sm-12 order-1">
      <div class="card rounded-0 border-0 mb-3">
        <% include!("../../../photos/image.stpl"); %>
    </div>
    <span class="btn_settings_photo">
      <% include!("../../../photos/btn_console.stpl"); %>
    </span>
  </div>
    <div class="col-lg-4 col-md-5 col-sm-12 order-2 ">
      <div class="card-header">
          <% include!("../../../photos/owner_meta.stpl"); %>
      </div>
        <% include!("../../../photos/form.stpl"); %>
      <br><br>
      <% include!("../../../photos/c_photo/info.stpl"); %>
    </div>
  </div>
</div>
